/* Global */
body {
  background-color:#3f3b3b;
}

header {
  background-color:#8a4c96;
  margin-bottom:-300px;
}

h1 {
  font-family:'Kaushan Script', cursive;
}

h4 {
  font-family:'Kaushan Script', cursive;
}

p {
  font-family:'Catamaran', sans-serif;
  text-align:center;
  margin-top:30px;
  font-size:16px;
  color:white;
}

.container-fluid {
  padding:20px;
}

.border {
  border-top:1px;
  border-bottom:0px;
  border-right:0px;
  border-left:0px;
  border-style:solid;
  border-color:#c9bfbf;
  margin:20px;
}

.border-top {
  border-top:5px;
  border-style:solid;
  border-color:#c9bfbf;
  margin-top:20px;
}

.border-items {
  border-style:white solid 1px;
  margin:5px;
  margin-left:5px;
  text-align:center;
}

.border-items p {
  font-family:'Catamaran', sans-serif;
  font-size:16px;
}

.col-lg-4 {
  height:auto;
  text-align:center;
}

.col-xs-12 {
  height:auto;
  text-align:center;
}

.row {
  padding:5px;
  margin:50px;
}

.row h4 {
  color:black;
  padding-left:30px;
  display:inline-block;
}

a {
  text-decoration:none;
  color:black;
}

a:hover {
  text-decoration:none;
}

/* header global */
header a:hover {
  color:black;
}

header h4 {
  font-family:'Kaushan Script', cursive;
  margin-top:-30px
}

/* Header h1 */
header h1 a:hover {
  color:black;
}

header h4 a:hover {
  color:black;
}

/* Navigation */
li {
  display:inline;
  padding:10px;
  text-align:right;
  font-family: 'Lobster Two', cursive;
  font-size:22px;
}
nav ul li a {
  color:white;
}

nav ul li a:hover {
  color:black;
}

/* #top-img */
#img #top-img {
  width:100%;
  height:auto;
  text-align: center;
  padding:auto;
  padding-top:145px;
}

/* #about section */
#about h1 {
  color:black;
}

/* #testimonials */
#testimonials h1 {
  color:black;
}

/* #services section */
#services h1 {
  color:black;
}

/* #quote */
#quote h1 {
  color:black;
}

#quote h4 {
  color:White;
}

/* #contact */
#contact h1 {
  color:black;
}

#contact h4 {
  color:White;
}
